/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
img {
  width: 100%;
  height: auto;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  text-align: center;

}

.paragraph{
  display: grid;
  place-items: center;
  height:20vh;
  margin-left: 23.5%;
  margin-right: 23.5%;
  text-align: justify;
  font-size:larger;
}

.my-image{
  width: 30%;
  height: auto;
  text-align: center;
  margin-left: 35%;
}



.my-im{
  width: 30%;
  height: auto;
  text-align: center;
  margin-left: 35%;
}

.dir{
  margin-bottom: 20px;
}

ul.ingredients {
  list-style: none; 
}

ul.ingredients li::before {
  content: "- ";
  color: black;
  margin-right: 5px;
}